POSTGRES_DB=mdd
POSTGRES_USER=mdd
POSTGRES_PASSWORD=change-me
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me-too
DB_URL=jdbc:postgresql://localhost:5432/mdd
DB_USERNAME=mdd
DB_PASSWORD=change-me
SERVER_PORT=9000
